body {
    font-family: 'Mina', sans-serif;
}

.navheader {
    padding: 20px;
    border-bottom: 1px solid grey;
}

.nav-link {
    color: grey;
}

body {
    background-color: black;
}

.main-image {
    width: 100%;
    
}

.about {
    padding-top: 15%;
}

.main-name {
    color: rgb(148, 144, 144);
}

.main-text {
    color: rgb(148, 144, 144);
}

.footer {
    padding: 20px;
    border-top: 1px solid grey;
}

.footer-text {
    text-align: center;
    color: rgb(148, 144, 144);
}

.skills {
    color: rgb(148, 144, 144);
    padding-left: 20%;
}

.skills-image {
    width: 85%;
    padding-top: 20%;
    padding-bottom: 20%;
}

.portfolio-name {
    padding: 50px;
    text-align: center;
    color: rgb(148, 144, 144);
}

.portfolio-image {
    width: 80%;
    text-align: center;
}

.portfolio-section {
    padding: 50px;
    padding-bottom: 50px;
}

.portfolio-text {
    padding-top: 50px;
}

.app-title {
    padding-left: 18%;
    padding-bottom: 50px;
    font-size: 150%;
}

.contact {
    padding-left: 35%;
    padding-top: 20%;
    padding-bottom: 20%;
    color: rgb(148, 144, 144);
    
}

.links {
    color: rgb(148, 144, 144);
}

/* .contact {
    color: green;
} */

photoBody {
	margin: 0;
	padding: 0;
	background: #222;
	color: #EEE;
	text-align: center;
	font: normal 9pt Verdana;
}
/* a:link, a:visited {
	color: #EEE;
} */
img {
	border: none;
}
#normal2, #normal3, #normal4, #normal5, #normal6, #normal7, #normal8, #normal9, #normal10, #normal11, #normal12 {
	display: none;
}
#gallery {
	margin: 0 auto;
	width: 800px;
}
#thumbs {
	/* margin: 10px auto 10px auto;
	text-align: center;
	width: 800px; */
}

.thumbnails {
    margin-top: 10px;
}

#thumbs img {
    height: 120px;
    padding: 2px;
   


}
#bigimages {
    text-align: center;
}
#bigimages img {
	border: 4px solid #555;
    margin-top: 5px;
    width: 70%;
    text-align: center;
}
#thumbs a:link, #thumbs a:visited {
	height: 120px;
	border: 1px solid #555;
	margin: 1px;
    float: left;
    margin-bottom: 3px;
}
#thumbs a:hover {
	border: 2px solid #888;
}

.centered {
    text-align: center;
}